<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello Bulma!</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="">
          <img src="https://image4.owler.com/logo/coding-dojo_owler_20161201_092020_original.png" width="112"
            height="28">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
          data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            Add a Job
          </a>
          <div class="navbar-item has-dropdown is-hoverable">
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a href="{% url 'jobs:dashboard' %}" class="button is-gray is-small is-outlined">Back</a>
              <a href="{% url 'jobs:logout' %}" class="navbar-item button is-gray is-medium is-outlined">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <section class="section">
      <h1 class="title">
        Add Job
      </h1>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }} has-text-danger">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <div class="box">
        <form action="{% url 'jobs:updateJob' job.id %}" method="POST">
          {% csrf_token %}
          <div class="field">
            <label class="label">Title</label>
            <div class="control">
              <input class="input" name="title" type="text" placeholder="" value="{{ job.title }}">
            </div>
          </div>
          <div class="field">
            <label class="label">Description</label>
            <div class="control">
              <textarea class="textarea" name="description" value="{{ job.description }}">{{ job.description }}</textarea>
            </div>
          </div>
          <div class="field">
            <label class="label">Location</label>
            <div class="control">
              <input class="input" name="location" type="text" placeholder="" value="{{ job.location }}">
            </div>
          </div>
          <input type="submit" class="button is-info is-outlined is-small" value="Submit" />
        </form>

      </div>
    </section>
  </div>
</body>

</html>